@import 'tailwindcss';

.card {
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

@layer utilities {
    .animate-scroll-text {
        animation: scroll-text 30s linear infinite;
    }
}

@keyframes scroll-text {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg-primary);
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bg-primary);
    border-radius: 4px;
    transition: background 0.2s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-primary);
}

/* Corner */
::-webkit-scrollbar-corner {
    background: var(--bg-primary);
}

/* View Transitions */
@view-transition {
  navigation: auto;
}

::view-transition-group(*) {
  animation-duration: 0.5s;
}

::view-transition-old(root) {
  animation: slide-out-from-left 0.5s forwards;
}

::view-transition-new(root) {
  animation: slide-in-from-right 0.5s forwards;
}

/* Custom animation for the album cover */
@keyframes scale-in {
  from { 
    transform: scale(0.2); 
    opacity: 0; 
  }
  to { 
    transform: scale(1); 
    opacity: 1; 
  }
}

@keyframes scale-out {
  from { 
    transform: scale(1); 
    opacity: 1; 
  }
  to { 
    transform: scale(0.2); 
    opacity: 0; 
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-from-left {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}