.library {
    width: 75%;
}
.library .nav-tabs {
    background:
        linear-gradient(to right, rgba(83, 70, 11, 0.5) 0%, rgb(167, 26, 26, 0.5) 90%),
        linear-gradient(rgba(3, 143, 10, 0.5) 0%, rgba(5, 3, 129, 0.5) 90%);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 2%;
    word-wrap: break-word;
}

.library .nav-tabs a {
    border: 0;
    border-radius: 3px;
    color: whitesmoke;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.library .nav-tabs a.active {
    background-color: hsla(0, 0%, 100%, .2);
    transition: background-color .2s .1s;
}

.library .tabs-horizontal {
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 650px;
    overflow-y: auto;
}

.library .tabs-horizontal h3,
.library .tabs-horizontal h4 {
    margin: 0 4%;
}

.library .tabs-horizontal .card {
    align-content: center;
    background-repeat: round;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 35%;
    justify-content: flex-end;
    margin: 2.5% 1.5%;
    width: 22%;
}

.library .tabs-horizontal .avatar {
    margin: 2.5% 1.5%;
    height: 35%;
    width: 22%;
}

.library .tabs-horizontal .avatar .avatar-image {
    align-content: center;
    align-items: center;
    background-image: url('/images/artist_default.png');
    background-repeat: round;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 75%;
    justify-content: center;
    width: 100%;
}


.library .tabs-horizontal .card .card-play {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.library .tabs-horizontal .card i,
.library .tabs-horizontal .avatar i,
.library .tabs-vertical i {
    color: whitesmoke;
    transition-duration: 1s;
}

.library .tabs-horizontal .card .card-detail,
.library .tabs-horizontal .avatar .avatar-detail {
    background:
        linear-gradient(rgba(83, 11, 83, 0.5) 0%, rgb(167, 26, 26, 0.5) 90%),
        linear-gradient(to right, rgba(143, 140, 3, 0.5) 0%, rgb(3, 255, 36, 0.5) 90%);
    border-radius: 10px;
    color: whitesmoke;
    overflow-y: hidden;
    text-overflow: ellipsis;
    height: 50%;
    width: 100%;
}

.library .tabs-horizontal .card i:hover,
.library .tabs-horizontal .avatar i:hover,
.library .tabs-vertical i:hover {
    transform: scale(1.5);
}

.library .tabs-vertical {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 600px;
    overflow-y: auto;
}

.library .tabs-vertical .row, .library .tabs-vertical form {
    background-color: rgba(95, 103, 153, 0.7);
    border-bottom: 2px solid snow;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    min-height: 100px;
    word-wrap: break-word;
}

.library .tabs-vertical .row .column, .library .tabs-vertical .input-group {
    align-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    margin: 2.5% 1.5%;
}

/* .library .tabs-vertical form {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
} */

/* .library .tabs-vertical .input-group {
    border: 1px solid;
    border-color: whitesmoke;
    color: white;
    display: inline-flex;
    flex-direction: column;
    justify-items: normal;
    padding: 5%;
    width: 100%;
} */

.library .tabs-vertical .input-group .input-label {
    display: block;
}
.library .tabs-vertical .input-group .input-label span {
    margin-right: 1%;
}

.library .tabs-vertical .input-group #text-route {
    border-bottom: 1px solid whitesmoke;
}

.library .tabs-vertical .input-group input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-group button {
    background: none;
    color: #94e458  ;
    border: 2px solid;
    border-radius: 5px;
    line-height: 1;
    margin: 0.5%;
    padding: 15%;
    transition: 0.25s;
    width: 120px;
}

.input-group button:hover,
.input-group button:focus {
    animation: pulse 1s;
    border-color: #94e458;
    color: #fdf90b;
    box-shadow: 0 0.5em 0.5em -0.4em #fdf90b;
    transform: translateY(-0.25em);
}

@media only screen and (min-width: 1024px) {
    .library .tabs-vertical .row .column {
        min-width: 15%;
    }
}

@media only screen and (max-width: 1024px) {
    .library .tabs-vertical .row .column {
        width: 120px;
    }
}
@media only screen and (max-width: 600px) {
    .library .tabs-vertical .row .column {
        width: 60px;
    }
}