.App {
    /* background-repeat: round, round; */
    display: inline-flex;
    flex-direction: row;
    margin: 2.5% auto;
    width: 100%;
}

.App .close {
    position: absolute;
    top: 0;
    right: 0;
}
.App .minimize {
    position: absolute;
    top: 0;
    right: 2.5%;
}

.App .close i, .App .minimize i {
    font-size: 2.5em;
}

@media only screen and (max-width: 600px) {
    .App {
        flex-direction: column;
    }
}